In [1]:
import pandas as pd
import numpy as np

In [2]:
from dateutil.parser import parse

In [3]:
data_w_genres = pd.read_csv(r'D:\dataset\spotify_data\data_w_genres.csv')
data_w_genres.head()

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count,genres
0,"""Cats"" 1981 Original London Cast",0.575083,0.442750,247260.000000,0.386336,0.022717,0.287708,-14.205417,0.180675,115.983500,0.334433,38.000000,5,1,12,['show tunes']
1,"""Cats"" 1983 Broadway Cast",0.862538,0.441731,287280.000000,0.406808,0.081158,0.315215,-10.690000,0.176212,103.044154,0.268865,33.076923,5,1,26,[]
2,"""Fiddler On The Roof” Motion Picture Chorus",0.856571,0.348286,328920.000000,0.286571,0.024593,0.325786,-15.230714,0.118514,77.375857,0.354857,34.285714,0,1,7,[]
3,"""Fiddler On The Roof” Motion Picture Orchestra",0.884926,0.425074,262890.962963,0.245770,0.073587,0.275481,-15.639370,0.123200,88.667630,0.372030,34.444444,0,1,27,[]
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",0.605444,0.437333,232428.111111,0.429333,0.037534,0.216111,-11.447222,0.086000,120.329667,0.458667,42.555556,11,1,9,[]

In [4]:
data_w_genres.describe()

,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
count,27621.000000,27621.000000,2.762100e+04,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000
mean,0.504651,0.544411,2.374886e+05,0.493708,0.166661,0.203603,-11.222480,0.096180,115.439232,0.516032,34.288478,5.409942,0.767170,14.313493
std,0.369788,0.176098,1.209766e+05,0.253566,0.292133,0.140311,5.819377,0.116062,25.138470,0.243304,22.104194,3.485676,0.422643,53.867027
min,0.000000,0.000000,1.879550e+04,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.128784,0.429000,1.819730e+05,0.282000,0.000004,0.111667,-14.097000,0.039500,98.725500,0.334000,13.511111,2.000000,1.000000,2.000000
50%,0.493000,0.555667,2.176930e+05,0.501000,0.001610,0.162850,-10.135333,0.052644,114.950000,0.528500,39.000000,6.000000,1.000000,3.000000
75%,0.901000,0.673000,2.660000e+05,0.699000,0.188000,0.247371,-6.906000,0.098000,129.612647,0.705000,51.000000,8.000000,1.000000,9.000000
max,0.996000,0.986000,5.403500e+06,1.000000,1.000000,0.991000,1.342000,0.964000,217.743000,0.991000,95.000000,11.000000,1.000000,3172.000000

In [5]:
data_by_artist = pd.read_csv(r'D:\dataset\spotify_data\data_by_artist.csv')
data_by_artist.head()

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
0,"""Cats"" 1981 Original London Cast",0.575083,0.442750,247260.0000,0.386336,0.022717,0.287708,-14.205417,0.180675,115.983500,0.334433,38.000000,5,1,12
1,"""Cats"" 1983 Broadway Cast",0.862538,0.441731,287280.0000,0.406808,0.081158,0.315215,-10.690000,0.176212,103.044154,0.268865,33.076923,5,1,26
2,"""Fiddler On The Roof” Motion Picture Chorus",0.856571,0.348286,328920.0000,0.286571,0.024593,0.325786,-15.230714,0.118514,77.375857,0.354857,34.285714,0,1,7
3,"""Fiddler On The Roof” Motion Picture Orchestra",0.884926,0.425074,262890.9630,0.245770,0.073587,0.275481,-15.639370,0.123200,88.667630,0.372030,34.444444,0,1,27
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",0.605444,0.437333,232428.1111,0.429333,0.037534,0.216111,-11.447222,0.086000,120.329667,0.458667,42.555556,11,1,9

In [6]:
data_by_artist.describe()

,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
count,27621.000000,27621.000000,2.762100e+04,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000,27621.000000
mean,0.504651,0.544411,2.374886e+05,0.493708,0.166661,0.203603,-11.222480,0.096180,115.439232,0.516032,34.288478,5.409942,0.767170,14.313493
std,0.369788,0.176098,1.209766e+05,0.253566,0.292133,0.140311,5.819377,0.116062,25.138470,0.243304,22.104194,3.485676,0.422643,53.867027
min,0.000000,0.000000,1.879550e+04,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.128784,0.429000,1.819730e+05,0.282000,0.000004,0.111667,-14.097000,0.039500,98.725500,0.334000,13.511111,2.000000,1.000000,2.000000
50%,0.493000,0.555667,2.176930e+05,0.501000,0.001610,0.162850,-10.135333,0.052644,114.950000,0.528500,39.000000,6.000000,1.000000,3.000000
75%,0.901000,0.673000,2.660000e+05,0.699000,0.188000,0.247371,-6.906000,0.098000,129.612647,0.705000,51.000000,8.000000,1.000000,9.000000
max,0.996000,0.986000,5.403500e+06,1.000000,1.000000,0.991000,1.342000,0.964000,217.743000,0.991000,95.000000,11.000000,1.000000,3172.000000

In [7]:
song_df = pd.read_csv(r'D:\dataset\spotify_data\data_w_genres.csv',usecols=['artists','genres'])

In [8]:
song_df.head()

                                             artists          genres
0                   "Cats" 1981 Original London Cast  ['show tunes']
1                          "Cats" 1983 Broadway Cast              []
2        "Fiddler On The Roof” Motion Picture Chorus              []
3     "Fiddler On The Roof” Motion Picture Orchestra              []
4  "Joseph And The Amazing Technicolor Dreamcoat"...              []

In [9]:
song_df.describe()

               artists genres
count            27621  27621
unique           27621  10170
top     Michel Legrand     []
freq                 1   9530

In [10]:
rating_df = pd.read_csv(r'D:\dataset\spotify_data\data_by_artist.csv',usecols=['artists','count','popularity'])

In [11]:
rating_df.head()

                                             artists  popularity  count
0                   "Cats" 1981 Original London Cast   38.000000     12
1                          "Cats" 1983 Broadway Cast   33.076923     26
2        "Fiddler On The Roof” Motion Picture Chorus   34.285714      7
3     "Fiddler On The Roof” Motion Picture Orchestra   34.444444     27
4  "Joseph And The Amazing Technicolor Dreamcoat"...   42.555556      9

In [12]:
rating_df.describe()

         popularity         count
count  27621.000000  27621.000000
mean      34.288478     14.313493
std       22.104194     53.867027
min        0.000000      1.000000
25%       13.511111      2.000000
50%       39.000000      3.000000
75%       51.000000      9.000000
max       95.000000   3172.000000

In [13]:
df=pd.merge(song_df,rating_df,on='artists')

In [14]:
df.head()

,artists,genres,popularity,count
0,"""Cats"" 1981 Original London Cast",['show tunes'],38.000000,12
1,"""Cats"" 1983 Broadway Cast",[],33.076923,26
2,"""Fiddler On The Roof” Motion Picture Chorus",[],34.285714,7
3,"""Fiddler On The Roof” Motion Picture Orchestra",[],34.444444,27
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",[],42.555556,9

In [15]:
df.describe()

         popularity         count
count  27616.000000  27616.000000
mean      34.285788     14.315506
std       22.104263     53.871686
min        0.000000      1.000000
25%       13.500000      2.000000
50%       39.000000      3.000000
75%       51.000000      9.000000
max       95.000000   3172.000000

In [16]:
df.dropna()

,artists,genres,popularity,count
0,"""Cats"" 1981 Original London Cast",['show tunes'],38.000000,12
1,"""Cats"" 1983 Broadway Cast",[],33.076923,26
2,"""Fiddler On The Roof” Motion Picture Chorus",[],34.285714,7
3,"""Fiddler On The Roof” Motion Picture Orchestra",[],34.444444,27
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",[],42.555556,9
5,"""Joseph And The Amazing Technicolor Dreamcoat""...",[],34.166667,36
6,"""Mama"" Helen Teagarden",[],0.000000,2
7,"""Mista Dj Paul",[],36.000000,1
8,"""Test for Victor Young""",[],2.000000,2
9,"""Weird Al"" Yankovic","['antiviral pop', 'comedy rock', 'comic', 'par...",33.681818,132
10,$IMEON,[],62.666667,6
11,$NOT,"['east coast hip hop', 'gangster rap', 'hardco...",64.625000,8
12,$pyda,[],58.000000,1
13,$uicideBoy$,"['dark trap', 'new orleans rap', 'underground ...",61.647541,122
14,'Be More Chill' Ensemble,[],52.000000,1
15,'In The Heights' Original Broadway Company,"['broadway', 'show tunes']",46.588235,17
16,'Legally Blonde' Ensemble,"['broadway', 'hollywood', 'show tunes']",48.166667,12
17,'Legally Blonde' Greek Chorus,['show tunes'],49.000000,2
18,'Little Women' Original Broadway Cast,[],42.000000,2
19,'Til Tuesday,"['boston rock', 'dance rock', 'new romantic', ...",35.125000,16
20,((( O ))),"['latin', 'puerto rican pop', 'reggaeton', 'tr...",66.000000,2
21,(Con La Participación De Eros Ramazzotti),[],43.000000,2
22,(Con La Participación de Marc Anthony),[],44.000000,2
23,(G)I-DLE,"['k-pop', 'k-pop girl group']",74.666667,3
24,(Hed) P.E.,"['alternative metal', 'industrial metal', 'nu ...",45.800000,10
25,*NSYNC,"['boy band', 'dance pop', 'europop', 'pop']",45.794872,78
26,-,"['alternative pop rock', 'neon pop punk', 'pop...",55.000000,2
27,...And You Will Know Us by the Trail of Dead,"['alternative rock', 'dance-punk', 'indie rock...",35.000000,2
28,...Bender,[],42.000000,2
29,03 Greedo,"['cali rap', 'melodic rap', 'trap', 'undergrou...",59.200000,5
...,...,...,...,...
27586,秋元薫,"['future funk', 'japanese city pop']",41.000000,4
27587,童安格,"['c-pop', 'classic mandopop']",41.000000,6
27588,笠井 紀美子,"['classic japanese jazz', 'japanese vocal jazz']",38.000000,1
27589,紫薇,['vintage chinese pop'],9.945455,110
27590,羅大佑,"['c-pop', 'chinese indie', 'classic cantopop',...",34.000000,10
27591,舒芳,[],22.000000,8
27592,葉歡,['classic mandopop'],38.000000,2
27593,葛蘭,[],2.619048,42
27594,蔡楓華,"['c-pop', 'classic cantopop']",34.000000,2
27595,蔣志光,['classic cantopop'],40.000000,1
27596,藍戰士,['classic cantopop'],33.000000,2
27597,虞戡平,[],40.000000,2
27598,謝雷,[],21.125000,80
27599,賴佩霞,[],23.000000,2
27600,辛曉琪,"['c-pop', 'classic mandopop']",46.500000,4
27601,那英,"['c-pop', 'classic mandopop', 'mainland chines...",46.500000,4
27602,鄒森,[],20.000000,20
27603,鄭怡,"['c-pop', 'classic mandopop', 'taiwan campus f...",47.000000,1
27604,金智娟,[],47.000000,1
27605,鈴木 弘,['classic japanese jazz'],32.333333,6
27606,陳秀男,['taiwan campus folk'],44.000000,2
27607,陳蘭麗,['taiwan campus folk'],34.000000,2
27608,霜華雪華,[],23.153846,104
27609,韋綺珊,[],40.000000,1
27610,高慧君,[],52.000000,2
27611,鳳飛飛,"['c-pop', 'classic mandopop', 'vintage chinese...",35.000000,2
27612,黃品源,"['c-pop', 'classic cantopop', 'classic mandopop']",47.000000,2
27613,黃國隆,[],20.000000,11
27614,黃蜀娟,[],23.000000,42
27615,黑豹,"['chinese indie', 'chinese indie rock']",34.000000,2

In [17]:
df.drop(['artists'],axis=1)

                                                  genres  popularity  count
0                                         ['show tunes']   38.000000     12
1                                                     []   33.076923     26
2                                                     []   34.285714      7
3                                                     []   34.444444     27
4                                                     []   42.555556      9
5                                                     []   34.166667     36
6                                                     []    0.000000      2
7                                                     []   36.000000      1
8                                                     []    2.000000      2
9      ['antiviral pop', 'comedy rock', 'comic', 'par...   33.681818    132
10                                                    []   62.666667      6
11     ['east coast hip hop', 'gangster rap', 'hardco...   64.625000      8
12                                                    []   58.000000      1
13     ['dark trap', 'new orleans rap', 'underground ...   61.647541    122
14                                                    []   52.000000      1
15                            ['broadway', 'show tunes']   46.588235     17
16               ['broadway', 'hollywood', 'show tunes']   48.166667     12
17                                        ['show tunes']   49.000000      2
18                                                    []   42.000000      2
19     ['boston rock', 'dance rock', 'new romantic', ...   35.125000     16
20     ['latin', 'puerto rican pop', 'reggaeton', 'tr...   66.000000      2
21                                                    []   43.000000      2
22                                                    []   44.000000      2
23                         ['k-pop', 'k-pop girl group']   74.666667      3
24     ['alternative metal', 'industrial metal', 'nu ...   45.800000     10
25           ['boy band', 'dance pop', 'europop', 'pop']   45.794872     78
26     ['alternative pop rock', 'neon pop punk', 'pop...   55.000000      2
27     ['alternative rock', 'dance-punk', 'indie rock...   35.000000      2
28                                                    []   42.000000      2
29     ['cali rap', 'melodic rap', 'trap', 'undergrou...   59.200000      5
...                                                  ...         ...    ...
27586               ['future funk', 'japanese city pop']   41.000000      4
27587                      ['c-pop', 'classic mandopop']   41.000000      6
27588   ['classic japanese jazz', 'japanese vocal jazz']   38.000000      1
27589                            ['vintage chinese pop']    9.945455    110
27590  ['c-pop', 'chinese indie', 'classic cantopop',...   34.000000     10
27591                                                 []   22.000000      8
27592                               ['classic mandopop']   38.000000      2
27593                                                 []    2.619048     42
27594                      ['c-pop', 'classic cantopop']   34.000000      2
27595                               ['classic cantopop']   40.000000      1
27596                               ['classic cantopop']   33.000000      2
27597                                                 []   40.000000      2
27598                                                 []   21.125000     80
27599                                                 []   23.000000      2
27600                      ['c-pop', 'classic mandopop']   46.500000      4
27601  ['c-pop', 'classic mandopop', 'mainland chines...   46.500000      4
27602                                                 []   20.000000     20
27603  ['c-pop', 'classic mandopop', 'taiwan campus f...   47.000000      1
27604                                                 []   47.000000      1
27605                          ['classic japanese jazz']   32.333333      6
27606                             ['taiwan campus folk']   44.000000      2
27607                             ['taiwan campus folk']   34.000000      2
27608                                                 []   23.153846    104
27609                                                 []   40.000000      1
27610                                                 []   52.000000      2
27611  ['c-pop', 'classic mandopop', 'vintage chinese...   35.000000      2
27612  ['c-pop', 'classic cantopop', 'classic mandopop']   47.000000      2
27613                                                 []   20.000000     11
27614                                                 []   23.000000     42
27615            ['chinese indie', 'chinese indie rock']   34.000000      2

[27616 rows x 3 columns]

In [18]:
df["average rating"] = df["popularity"] * df["count"]

In [19]:
df.sort_values('average rating',ascending=False,inplace=True)

In [20]:
df.head()

,artists,genres,popularity,count,average rating
23440,The Beatles,"['beatlesque', 'british invasion', 'classic ro...",48.060753,823,39553.999999
24537,The Rolling Stones,"['album rock', 'british invasion', 'classic ro...",34.573913,1035,35783.999996
8098,Frank Sinatra,"['adult standards', 'easy listening', 'lounge']",26.004383,1369,35599.999998
2919,Bob Dylan,"['album rock', 'classic rock', 'country rock',...",30.860806,1092,33699.999999
7137,Elvis Presley,"['rock-and-roll', 'rockabilly']",33.391919,990,33057.999998

In [23]:
# Recommend Artist

df["artists"].head(20)

23440                 The Beatles
24537          The Rolling Stones
8098                Frank Sinatra
2919                    Bob Dylan
7137                Elvis Presley
6471                        Drake
11962                 Johnny Cash
7187                       Eminem
13786                Led Zeppelin
19409                       Queen
23437              The Beach Boys
7881                Fleetwood Mac
2940     Bob Marley & The Wailers
23177                Taylor Swift
14114                   Lil Wayne
7123                   Elton John
12673                  Kanye West
19849       Red Hot Chili Peppers
16503                 Miles Davis
10634                       JAY-Z
Name: artists, dtype: object

In [24]:
df["artists"].head()

23440           The Beatles
24537    The Rolling Stones
8098          Frank Sinatra
2919              Bob Dylan
7137          Elvis Presley
Name: artists, dtype: object